body {
    display:flex;
     justify-content:center;
      align-items:center;
       height:100vh;
        font-family:Arial;
         background-image:linear-gradient( to bottom left ,pink, rgb(104, 161, 218) , rgb(248, 248, 119));
        }
        #head{
            font-size:32px ;
            text-shadow: 13px 13px 11px rgb(228, 224, 224);
        }
    .box {
        background:rgb(145, 189, 222);
         padding:40px;
          border-radius:10px;
           text-align:center;
            box-shadow:0 0 10px rgba(0,0,0,0.2);
        }
    input {
        padding:13px;
         width:300px;
          margin:10px 0;
           border:1px solid #ccc;
            border-radius:5px;
        }
    button {
        padding:12px 22px;
         border:none;
          border-radius:5px;
          font-size: 13px;
           cursor:pointer; 
           background:palevioletred; 
           color:white;
        }
    button:hover {
        background:#dd7ac1;
    }
    img {
        margin-top:15px;
    }